<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">home</a>
        <a href="/word_count">WORDS</a>
    </header>
    <section>
    <ol>
        <li>Srednja Vrstica</li>
        <ul>
            <li><a href="lesson/001">fj - first keys</a></li>
            <li><a href="lesson/002">Repeting first keys</a></li>
            <li><a href="lesson/003">Adding spaces</a></li>
            <li><a href="lesson/004">Repeting spaced key stokes</a></li>
            <li><a href="lesson/005">dk - new keys</a></li>
            <li><a href="lesson/006">Reapeting dk</a></li>
            <li><a href="lesson/007">Adding spaces</a></li>
            <li><a href="lesson/008">Combining keys</a></li>
            <li><a href="lesson/009">sl - new keys</a></li>
            <li><a href="lesson/010">Reapting sl</a></li>
            <li><a href="lesson/011">Adding spaces</a></li>
            <li><a href="lesson/012">Combining keys</a></li>
            <li><a href="lesson/013">ač - new keys</a></li>
            <li><a href="lesson/014">Reapeting ač</a></li>
            <li><a href="lesson/015">Adding spaces</a></li>
            <li><a href="lesson/016">Combining keys</a></li>
            <li><a href="lesson/017">Left hand only</a></li>
            <li><a href="lesson/018">Right hand only</a></li>
            <li><a href="lesson/019">gh - new keys</a></li>
            <li><a href="lesson/020">Reapeting gh</a></li>
            <li><a href="lesson/021">Combinnig keys</a></li>
            <li><a href="lesson/022">Forming words</a></li>
            <li><a href="lesson/023">More words</a></li>
        </ul>
        <li>Zgornja Vrstica</li>
        <ul>
            <li><a href="lesson/024">ru - new keys</a></li>
            <li><a href="lesson/025">Reapeting ru</a></li>
            <li><a href="lesson/026">Combining keys</a></li>
            <li><a href="lesson/027">Some words</a></li>
            <li><a href="lesson/028">ei - new keys</a></li>
            <li><a href="lesson/029">Reapeting ei</a></li>
            <li><a href="lesson/030">Combining keys</a></li>
            <li><a href="lesson/031">Some words</a></li>
            <li><a href="lesson/032">Forming sentences</a></li>
            <li><a href="lesson/033">Left hand only</a></li>
            <li><a href="lesson/034">Right hand only</a></li>
            <li><a href="lesson/035">wo - new keys</a></li>
            <li><a href="lesson/036">Reapeting wo</a></li>
            <li><a href="lesson/037">Combining keys</a></li>
            <li><a href="lesson/038">Forming sentences</a></li>
            <li><a href="lesson/039">qz - new keys</a></li>
            <li><a href="lesson/040">Reapeting qz</a></li>
            <li><a href="lesson/041">Combining keys</a></li>
            <li><a href="lesson/042">Forming words</a></li>
            <li><a href="lesson/043">tp - new keys</a></li>
            <li><a href="lesson/044">Reapeting tp</a></li>
            <li><a href="lesson/045">Combining keys</a></li>
            <li><a href="lesson/046">Forming sentences</a></li>
        </ul>
        <li>Spodnja Vrstica</li>
        <ul>
            <li><a href="lesson/047">vm - new keys</a></li>
            <li><a href="lesson/048">Reapting vm</a></li>
            <li><a href="lesson/049">Combining keys</a></li>
            <li><a href="lesson/050">Forming sentences</a></li>
            <li><a href="lesson/051">difficult key patterns - mju</a></li>
            <li><a href="lesson/052">difficult key patterns - vfr</a></li>
            <li><a href="lesson/053">c, - new keys</a></li>
            <li><a href="lesson/054">Reapeting c,</a></li>
            <li><a href="lesson/055">Combining keys</a></li>
            <li><a href="lesson/056">Forming sentences</a></li>
            <li><a href="lesson/057">difficult key patterns - ,ki</a></li>
            <li><a href="lesson/058">difficult key patterns - cde</a></li>
            <li><a href="lesson/059">x. - new keys</a></li>
            <li><a href="lesson/060">Reapeting x.</a></li>
            <li><a href="lesson/061">Combining keys</a></li>
            <li><a href="lesson/062">Forming sentences</a></li>
            <li><a href="lesson/063">difficult key patterns - .lo</a></li>
            <li><a href="lesson/064">difficult key patterns - xsw</a></li>
            <li><a href="lesson/065">y - new key</a></li>
            <li><a href="lesson/066">Spaced y</a></li>
            <li><a href="lesson/067">Combining keys</a></li>
            <li><a href="lesson/068">Forming sentences</a></li>
            <li><a href="lesson/069">difficult key patterns - čp</a></li>
            <li><a href="lesson/070">difficult key patterns - yaq</a></li>
            <li><a href="lesson/071">bn - new keys</a></li>
            <li><a href="lesson/072">Reapeting bn</a></li>
            <li><a href="lesson/073">Combining keys</a></li>
            <li><a href="lesson/074">Forming sentences</a></li>
            <li><a href="lesson/075">Left hand only</a></li>
            <li><a href="lesson/076">Right hand only</a></li>
            <li><a href="lesson/077">More sentences</a></li>
            <li><a href="lesson/078">difficult key patterns - .čp</a></li>
            <li><a href="lesson/079">difficult key patterns combined</a></li>
            <li><a href="lesson/080">Sentences with -Enter-</a></li>
            <li><a href="lesson/081">More sentences with -Enter-</a></li>
            <li><a href="lesson/082">Long sentences</a></li>
            <li><a href="lesson/083">Longer sentences</a></li>
            <li><a href="lesson/084">Final tutorial sentence</a></li>
        </ul>
        <li>Utrjevanje</li>
        <ul>
            <li><a href="lesson/085">Sentences for exercise</a></li>
            <li><a href="lesson/086">Sentences for exercise</a></li>
            <li><a href="lesson/087">Sentences for exercise</a></li>
            <li><a href="lesson/088">Sentences for exercise</a></li>
            <li><a href="lesson/089">Sentences for exercise</a></li>
            <li><a href="lesson/090">Sentences with difficult words</a></li>
            <li><a href="lesson/091">Sentences with difficult words</a></li>
            <li><a href="lesson/092">Sentences with difficult words</a></li>
            <li><a href="lesson/093">Sentences with difficult words</a></li>
            <li><a href="lesson/094">Sentences with difficult words</a></li>
            <li><a href="lesson/095">Sentences with difficult words</a></li>
            <li><a href="lesson/096">Sentences with difficult words</a></li>
            <li><a href="lesson/097">Sentences with difficult words</a></li>
            <li><a href="lesson/098">Sentences with difficult words</a></li>
            <li><a href="lesson/099">Sentences with difficult words</a></li>
            <li><a href="lesson/100">Left hand only</a></li>
            <li><a href="lesson/101">Right hand only</a></li>
            <li><a href="lesson/102">Sentences for exercise</a></li>
            <li><a href="lesson/103">Sentences for exercise</a></li>
            <li><a href="lesson/104">Sentences for exercise</a></li>
            <li><a href="lesson/105">Sentences for exercise</a></li>
            <li><a href="lesson/106">Sentences for exercise</a></li>
        </ul>
    </ol>
    </section>
    <footer>

    </footer>
</body>
</html>
